.header{
  display: flex;
  justify-content: space-between;
  background-color:dodgerblue;
  color: white;
}

.header h1{
  margin-left: 20px;
  margin-top: 30px;
}

.profileContainer{
  width: 45%;
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
}

.profileContainer p{
  font-size: 20px;
  font-weight: bold;
}

.profileContainer button{
  position: relative;
  z-index: 1;
  padding: 10px 20px;
  background-color: dodgerblue;
  color: white;
  border: none;
  cursor: pointer;
  overflow: hidden;
  width: 7%;
  margin-bottom: 13px;
}

.profileContainer button:hover{
  opacity: 0.7;
}

.profileContainer img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 100%;
  height: auto;
  filter: invert(1) brightness(2);
}