.heading{
  display: flex;
  justify-content: center;
  background-color:dodgerblue;
  color: white;
}

.heading h1{
  font-size: 40px;
}

.container{
  margin: 60px;
}

.container h1{
  font-size: 40px;
}

.container p{
  font-size: 20px;
}

.container p, .container button{
  margin-left: 15px;
}

.signupBtn{
  height: 4vh;
  width: 15vh;
  border: 1.25px dodgerblue;
  border-radius: 16px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
}

.signupBtn:hover{
  cursor: pointer;
  opacity: 0.7;
}

.recipeInfoContainer{
  margin-top: 150px;
}

.goalInfoContainer{
  margin-top: 150px;
}

