.headingContainer{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.formContainer{
  margin: 20px;
  display: flex;
  justify-content: center;
}

.nameForm{
  border: 1.5px solid black;
  width: 20%;
  height: 50%;
  width: 20%;
}

.nameForm label, .nameForm input, .nameForm button{
  margin: 15px;
  display: block;
}

.nameForm input{
  width: 90.5%;
  height: 45px;
  border-radius: 4.5px;
  border: 1.15px solid black;
}


.signupFormBtn button{
  width: 92%;
  background-color: cornflowerblue;
  border: 0px none cornflowerblue;
  border-radius: 4.5px;
  color: white;
  height: 45px;
  font-weight: bold;
}

.signupFormBtn button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.signupFormBtn button:disabled{
  opacity: 0.5;
}

.signupFormBtn button:disabled:hover{
  cursor: not-allowed;
}

.generalForm{
  border: 1.5px solid black;
  width: 20%;
  width: 50vh;
}

.generalForm label, .generalForm input, .generalForm button{
  margin: 20px;
  display: block;
}

.generalForm input{
  width: 90.75%;
  height: 45px;
  border-radius: 4.5px;
  border: 1.15px solid black;
}

.generalFormBtns{
  display: flex;
  justify-content: space-between;
}

.radioInputs{
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  padding-left: 100px;
}

.radioInputs label{
  width: 100px;
  text-align: center;
}

.radioInputs input{
  width: 20px;
  margin: 0;
  margin-left: 40px;
  margin-bottom: 10px;
  height: 20px;
}

.activityForm{
  border: 1.5px solid black;
  width: 20%;
  width: 50vh;
}

.activityForm label, .activityForm input, .activityForm button{
  margin: 20px;
  display: block;
}

.activityForm input{
  width: 90%;
  height: 45px;
  border-radius: 4.5px;
  border: 1.15px solid black;
}

.activityFormBtns{
  display: flex;
  justify-content: space-between;
}


.signupForm{
  border: 1.5px solid black;
  width: 20%;
  height: 35vh;
  width: 50vh;
}

.signupForm label, .signupForm input, .signupForm button{
  margin: 20px;
  display: block;
}

.signupForm input{
  width: 90%;
  height: 45px;
  border-radius: 4.5px;
  border: 1.15px solid black;
}

.signupFormBtns{
  display: flex;
  justify-content: space-between;
}

.signupFormBtns button{
  width: 45%;
  background-color: cornflowerblue;
  border: 0px none cornflowerblue;
  border-radius: 4.5px;
  color: white;
  height: 45px;
  font-weight: bold;
}

.signupFormBtns button:hover{
  cursor: pointer;
  opacity: 0.7;
}

.signupFormBtns button:disabled{
  opacity: 0.5;
}

.signupFormBtns button:disabled:hover{
  cursor: not-allowed;
}
.activityBtn{
  background-color: rgb(241, 241, 241);
  text-align: center;
  color: black;
  border: 2px solid rgb(114, 112, 112);
  width: 92%;
}

.activityBtn p{
  font-size: 12px;
}

.activityBtn:hover{
  border-color: dodgerblue;
  h4{
    color: dodgerblue;
    font-size: 18px;
  }
  opacity: 0.7;
  cursor: pointer;
}

.accountForm{
  border: 1.5px solid black;
  width: 20%;
  width: 50vh;
}

.accountForm label, .accountForm input, .accountForm button{
  margin: 20px;
  display: block;
}

.accountForm input{
  width: 90%;
  height: 45px;
  border-radius: 4.5px;
  border: 1.15px solid black;
}

.accountFormBtns{
  display: flex;
  justify-content: space-between;
}

.passwordLabel p{
  font-size: 14px;
  font-weight: normal;
}

label{
  font-weight: bold;
}

@media (max-width: 480px){
  .nameForm{
    height: 55%;
    width: 50vh;
  }
  .nameForm input{
    width: 86%;
  }
  .nameForm button{
    width: 88%;
  }

  .radioInputs label{
    width: 100px;
    text-align: center;
  }
  .radioInputs input{
    width: 20px;
    margin: 0;
    margin-bottom: 10px;
    height: 20px;
  }
  .activityForm{
    width: 64vh;
  }

  .accountForm input{
    width: 87%;
  }
}

@media (max-width: 768px){
  .nameForm{
    width: 52vh;
  }
  .activityForm{
    width: 64vh;
  }
}

@media (max-width: 1024px) {
  .nameForm{
    width: 52vh;
  }
  .activityForm{
    width: 68vh;
  }
}

/* Large Devices (Desktops) */
@media (max-width: 1280px) {
  .nameForm{
    width: 52vh;
  }
  .generalForm{
    width: 64vh;
  }
  .activityForm{
    width: 68vh;
  }
  .accountForm{
    width: 64vh;
  }
}

/* Extra Large Screens */
@media (min-width: 1440px) {
  .nameForm{
    width: 52vh;
  }
  .generalForm{
    width: 64vh;
  }
  .activityForm{
    width: 68vh;
  }
  .accountForm{
    width: 62vh;
  }
}